body{
	background-color:white;
	margin:0;
	padding:0;
	width:100vw;
	overflow:hidden;
}
nav{
	width:100vw;
	height:100px;
	background-color:#fffdd0;
	font-size:25px;
	font-family:Myriad Pro;
	color:#ab4f68;
}
#logo{
	text-align:left;
	position:absolute;
	left:300px;
	top:22px;
}
#navbuttons{
	position:absolute;
	right:25px;
	top:30px;
}
.navlinks{
    font-family:Myriad Pro;
    color:#ab4f68;
    padding:30px;
	text-align:right;
    font-size:25px;
    margin:auto;
	text-decoration:underline solid;
	text-decoration-color:#ab4f68:
}
#hero{
	width:100wv;
	height:800px;
	background-image:url("../images/heroimage.jpg")
}
#content{
	background-color:#fffdd0;
	text-align:center;
	padding:50px;
	margin:auto;
	width:1200px;
	height:850px;
	font-family:Myriad Pro;
	color:#ab4f68;
}
footer{
	width:100vw;
	height:250px;
	background-color:#fffdd0
}